.table {
  display: table;
  border: 1px solid black;
  width: 100%;
}

.tr {
  display: table-row;
}

.th {
  display: table-cell;
  border: 1px solid black;
  font-weight: bold;
}

.td {
  display: table-cell;
  border: 1px solid black;
}